.gift {
  &__img-gradient {
    position:relative;
    display:inline-block;
  }
  &__img-gradient:before {
    background: linear-gradient(180deg, rgba(101, 100, 100, 0) 0%, #333333 100%);
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;


  }
  &__small_text {
    margin-top: 120px;

    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
  }

  &__header {
    margin-top: 15px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
  }

  &__wrapper_imgs {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

  }


  &__link {
    position: relative;
    font-size: 21px;
    line-height: 140%;
    font-weight: 400;
    color: #FFFFFF;
    height: 100%;
    text-decoration: none;
    width: 32%;
    display: flex;
    justify-content: center;

  }
  &__link p{
    position: absolute;
    bottom: 10%;
    text-align: center;

  }
  &__img {
    
    width: 100%;

  }




  &__read-blog {
    margin-top: 60px;
    display: block;
    padding: 15px 35px;
    background: #333333;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
  }
}


